parameters:
    level: 8
    paths:
        - plugin.php
        - inc
    treatPhpDocTypesAsCertain: false
    tipsOfTheDay: false
    ignoreErrors:
        - '#Construct empty\(\) is not allowed. Use more strict comparison.#'
        - '#Parameter \#1 \$item \(array<string>\) of method [^:]++::column_default\(\) should be contravariant with parameter \$item \(array\|object\) of method WP_List_Table::column_default\(\)#'