<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    findUnusedPsalmSuppress="true"
    findUnusedBaselineEntry="true"
    findUnusedCode="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <file name="plugin.php"/>
        <file name="uninstall.php"/>
        <directory name="inc"/>
        <directory name="tests"/>
    </projectFiles>
    <issueHandlers>
        <MissingOverrideAttribute errorLevel="suppress"/>
        <PossiblyUnusedParam errorLevel="suppress"/>
        <PossiblyUnusedReturnValue errorLevel="suppress"/>
        <PossiblyUnusedMethod errorLevel="suppress"/>
        <RedundantCast errorLevel="suppress"/>
        <RedundantCastGivenDocblockType errorLevel="suppress"/>
        <UnusedClass errorLevel="suppress"/>
        <UnusedParam errorLevel="suppress"/>
    </issueHandlers>
    <stubs>
        <file name="vendor/php-stubs/wordpress-stubs/wordpress-stubs.php"/>
        <file name="vendor/wildwolf/wordpress-test-library-stubs/wordpress-test-library-stubs.php"/>
        <file name="wordpress.stubs"/>
    </stubs>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
