name: CI

on:
  push:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit-tests:
    name: "WP ${{ matrix.config.wp }}, multisite: ${{ matrix.config.ms }}, PHP: ${{ matrix.config.php }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - { wp: latest,  ms: 'no',  php: '8.1' }
          - { wp: latest,  ms: 'yes', php: '8.1' }
          - { wp: nightly, ms: 'no',  php: '8.1' }
          - { wp: nightly, ms: 'yes', php: '8.1' }

          - { wp: latest,  ms: 'no',  php: '8.2' }
          - { wp: latest,  ms: 'yes', php: '8.2' }
          - { wp: nightly, ms: 'no',  php: '8.2' }
          - { wp: nightly, ms: 'yes', php: '8.2' }

          - { wp: latest,  ms: 'no',  php: '8.3', coverage: 'yes' }
          - { wp: latest,  ms: 'yes', php: '8.3', coverage: 'yes' }
          - { wp: nightly, ms: 'no',  php: '8.3' }
          - { wp: nightly, ms: 'yes', php: '8.3' }
    services:
      mysql:
        image: mariadb:latest
        ports:
          - "3306:3306"
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MARIADB_INITDB_SKIP_TZINFO: 1
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress_test
    steps:
      - name: Check out source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Decide whether to enable coverage
        id: coverage
        run: |
          if [ "${{ matrix.config.coverage }}" = "yes" ]; then
            echo "::set-output name=coverage::pcov"
            echo '::set-output name=ini::pcov.directory=inc, pcov.exclude="~/(vendor|tests|node_modules)/~"'
          else
            echo "::set-output name=coverage::none"
            echo "::set-output name=ini::opcache.enable_cli=1, opcache.jit=tracing, opcache.jit_buffer_size=64M"
          fi

      - name: Set up PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          coverage: ${{ steps.coverage.outputs.coverage }}
          ini-values: ${{ steps.coverage.outputs.ini }}
          php-version: ${{ matrix.config.php }}
        env:
          fail-fast: 'true'

      - name: Install svn
        run: sudo apt-get update && sudo apt-get install -y subversion

      - name: Install PHP dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Set up WordPress and WordPress Test Library
        uses: sjinks/setup-wordpress-test-library@2b1ad8408e173cec01cb22d53db8f855f0e36973 # v2.1.5
        with:
          version: ${{ matrix.config.wp }}

      - name: Set up multisite mode
        run: echo "WP_MULTISITE=1" >> $GITHUB_ENV
        if: matrix.config.ms == 'yes'

      - name: Verify MariaDB connection
        run: |
          while ! mysqladmin ping -h 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} --silent; do
            sleep 1
          done
        timeout-minutes: 1

      - name: Run tests
        run: |
          OPTIONS=
          if [ "${{ steps.coverage.outputs.coverage }}" != 'none' ]; then
            OPTIONS="$OPTIONS --coverage-clover=clover.xml"
          fi
          vendor/bin/phpunit --order-by=random ${OPTIONS}

      - name: Upload coverage report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: clover.xml
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
        if: ${{ steps.coverage.outputs.coverage != 'none' }}

  build:
    name: Build JS Files
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js environment
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Run postinstall scripts
        run: npm rebuild && npm run prepare --if-present

      - name: Build JS files
        run: npm run build
