name: CI

on:
  push:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit-tests:
    name: "WP ${{ matrix.config.wp }}, multisite: ${{ matrix.config.ms }}, PHP: ${{ matrix.config.php }}"
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - { wp: 5.5.x,   ms: 'no',  php: '7.4', phpunit: 7 }
          - { wp: 5.6.x,   ms: 'no',  php: '7.4', phpunit: 7 }
          - { wp: 5.7.x,   ms: 'no',  php: '7.4', phpunit: 7 }
          - { wp: 5.8.x,   ms: 'no',  php: '7.4', phpunit: 7 }
          - { wp: 5.9.x,   ms: 'no',  php: '7.4', phpunit: 7 }
          - { wp: latest,  ms: 'no',  php: '7.4', phpunit: 7 }
          - { wp: nightly, ms: 'no',  php: '7.4', phpunit: 7 }

          - { wp: 5.5.x,   ms: 'yes', php: '7.4', phpunit: 7 }
          - { wp: 5.6.x,   ms: 'yes', php: '7.4', phpunit: 7 }
          - { wp: 5.7.x,   ms: 'yes', php: '7.4', phpunit: 7 }
          - { wp: 5.8.x,   ms: 'yes', php: '7.4', phpunit: 7 }
          - { wp: 5.9.x,   ms: 'yes', php: '7.4', phpunit: 7 }
          - { wp: latest,  ms: 'yes', php: '7.4', phpunit: 7 }
          - { wp: nightly, ms: 'yes', php: '7.4', phpunit: 7 }

          - { wp: latest,  ms: 'no',  php: '8.0', phpunit: 9, coverage: 'yes' }
          - { wp: nightly, ms: 'no',  php: '8.0', phpunit: 9, coverage: 'yes' }
          - { wp: latest,  ms: 'yes', php: '8.0', phpunit: 9, coverage: 'yes' }
          - { wp: nightly, ms: 'yes', php: '8.0', phpunit: 9, coverage: 'yes' }
    services:
      mysql:
        image: mariadb:latest
        ports:
          - "3306:3306"
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MARIADB_INITDB_SKIP_TZINFO: 1
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress_test
    steps:
      - name: Check out source code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - name: Decide whether to enable coverage
        id: coverage
        run: |
          if [ "${{ matrix.config.coverage }}" = "yes" ]; then
            echo "::set-output name=coverage::pcov"
            echo '::set-output name=ini::pcov.directory=inc, pcov.exclude="~/(vendor|tests|node_modules)/~"'
          else
            echo "::set-output name=coverage::none"
            echo "::set-output name=ini::opcache.enable_cli=1, opcache.jit=tracing, opcache.jit_buffer_size=64M"
          fi

      - name: Set up PHP
        uses: shivammathur/setup-php@16011a795d747d5f45038f96371c3b98aec5669d # tag=2.21.1
        with:
          coverage: ${{ steps.coverage.outputs.coverage }}
          ini-values: ${{ steps.coverage.outputs.ini }}
          php-version: ${{ matrix.config.php }}
        env:
          fail-fast: 'true'

      - name: Install PHPUnit
        run: |
          wget -q -O /usr/local/bin/phpunit "https://phar.phpunit.de/phpunit-${{ matrix.config.phpunit }}.phar"
          chmod +x /usr/local/bin/phpunit

      - name: Install PHP dependencies
        uses: ramsey/composer-install@f680dac46551dffb2234a240d65ae806c2999dd6 # tag=2.1.0

      - name: Set up WordPress and WordPress Test Library
        uses: sjinks/setup-wordpress-test-library@1bd512e4f2b558d62b329c345b81272dd4fa9f41 # tag=1.1.5
        with:
          version: ${{ matrix.config.wp }}

      - name: Set up multisite mode
        run: echo "WP_MULTISITE=1" >> $GITHUB_ENV
        if: matrix.config.ms == 'yes'

      - name: Verify MariaDB connection
        run: |
          while ! mysqladmin ping -h 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} --silent; do
            sleep 1
          done
        timeout-minutes: 1

      - name: Run tests
        run: |
          OPTIONS=
          if [ "${{ steps.coverage.outputs.coverage }}" != 'none' ]; then
            OPTIONS="$OPTIONS --coverage-clover=clover.xml"
          fi
          phpunit --order-by=random ${OPTIONS}

      - name: Upload coverage report
        uses: codecov/codecov-action@81cd2dc8148241f03f5839d295e000b8f761e378 # tag=v3.1.0
        with:
          files: clover.xml
          flags: unittests
        if: ${{ steps.coverage.outputs.coverage != 'none' }}

  build:
    name: Build JS Files
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - name: Set up Node.js environment
        uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93 # tag=v3.4.1
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Run postinstall scripts
        run: npm rebuild && npm run prepare --if-present

      - name: Build JS files
        run: npm run build
