name: Static Code Analysis

on:
  push:
  workflow_dispatch:

concurrency:
  group: sca-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  PHP_VERSION: "7.4"

jobs:
  psalm:
    runs-on: ubuntu-latest
    name: Analyze the code with Psalm
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - name: Check out source code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2

      - name: Set up PHP
        uses: shivammathur/setup-php@aa1fe473f9c687b6fb896056d771232c0bc41161 # tag=2.19.0
        with:
          coverage: none
          php-version: ${{ env.PHP_VERSION }}

      - name: Install dependencies
        uses: ramsey/composer-install@f680dac46551dffb2234a240d65ae806c2999dd6 # tag=2.1.0

      - name: Create node_modules directory
        run: mkdir -p node_modules

      - name: Run psalm
        run: composer psalm -- --output-format=github
