name: Static Code Analysis

on:
  push:
  workflow_dispatch:

concurrency:
  group: sca-${{ github.ref }}
  cancel-in-progress: true

env:
  PHP_VERSION: "7.4"

jobs:
  prepare:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    name: Analyze the code with Psalm
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - name: Check out source code
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # tag=v3

      - name: Set up PHP
        uses: shivammathur/setup-php@7854a0cae7fa7a5f3feac66d27bae2dc42d1067a # tag=v2
        with:
          coverage: none
          php-version: ${{ env.PHP_VERSION }}

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache Composer packages
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0 # tag=v3.0.1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-interaction

      - name: Create node_modules directory
        run: mkdir -p node_modules

      - name: Run psalm
        run: composer psalm -- --output-format=github
